body {
     margin: 0;
}

.container {
     padding-left: var(--margins);
     padding-right: var(--margins);
     margin-top: 5px;
}

@media (max-width: 1000px) {
     .container {
          padding: 0px;
          margin-top: 5px;
     }
     body {
          font-size: smaller;
     }
}
